<div class="col-md-3 mb-2 mb-md-0">
  <%= link_to root_path, class:"d-inline-flex link-body-emphasis text-decoration-none justify-content-center align-items-center" do %>
    <span id="jjunior" class="croissant_one">JJunior</span>
    <span id="dev" class="merriweather">.Dev</span>
  <% end %>
</div>