<article class="blog-post border-bottom mt-4">
  <h2 class="display-6 link-body-emphasis mb-1 fst-italic merriweather"><%= post.title %></h2>
  <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

  <p class="pt_serif">
    <%= post.body.truncate(150) %>
  </p>
</article>