<div class="container-fluid col-md-6 vh-100 mb-4">
  <h1 class="text-center mb-5">Categories</h1>

  <%= link_to "New category", new_category_path, class:"btn btn-success mb-4" %>
  
  <div>
    <table class="table table-striped table-bordered table-hover">
      <thead class="text-center">
        <tr>
          <th class="col-md-8">Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>
