<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <div class="container">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p class="mb-0">
      <%= link_to "Back to top", root_path %>
    </p>
  </div>
</footer>