<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <div class="col-md-3 text-center">
      <%= render "navbar/link_logo" %>
    </div>

    <div class="col-md-6 text-center">
      <%= render "navbar/link_menu" %>
    </div>

    <div class="col-md-3 text-end">
      <%= render "navbar/link_user" %>
    </div>
  </header>

  <%= yield :category_filter %>
</div>